.board-contents(ng-show='!player.ready')
  button(ng-click='ready()', class='btn btn-success') Ready
.board-contents(ng-show='player.ready && !game') Waiting for other players...
  button(ng-click='startNow()', class='btn btn-success', ng-show='player.master')
.board-contents(ng-show='game') The game will start in:
  h3 {{preStartTimeLeft}}