h3 Settings

#settingsDiv
  //div(large-checkbox, label='Public Room')
  //input(type='checkbox', name='public', ng-model='public', ng-change='changePublic()')
  //label(for='public') Public Room
  //a.toggler(href='', ng-click='toggleSettings()') Settings

  setting-b(setting-name='settings.public', icon-cls='unlock-img', text='Public Room', master='player.master')
  setting-b(setting-name='settings.allowPlural', icon-cls='addfile-img', text='Allow Plural', master='player.master')
  setting-b(setting-name='settings.negativePoints', icon-cls='minus-img', text='Enable Penalties', master='player.master')
  setting-b(setting-name='settings.restartAllowed', icon-cls='cycle-img', text='Allow Restart', master='player.master')

  setting-c(setting-name='settings.minWordLength', master='player.master', values='minWordLengthValues', text='Min Word Length')
  setting-c(setting-name='settings.timeLimit', master='player.master', values='timeLimitValues', text='Time Limit')
