#mainTable td {
  vertical-align: top;
  padding: 10px;
}
#board table {
  border-width: 1px;
  border-style: solid;
  border-color: black;
  border-spacing: 0px;
  border-collapse: collapse;
}
#board td {
  width: 50px;
  height: 50px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  padding: 10px;
  font-size: 35px;
  text-align: center;
}
#timer {
  width: 100%;
  text-align: center;
}
.timer-warn {
  color: red;
}
#wordResult {
  font-size: 15px;
}
.bad-result {
  color: red;
}
.good-result {
  color: green;
}
#wordList {
  background-color: #ccffcc;
}
#wordList h2 {
  margin: 0px;
  font-size: 20px;
  border-bottom: #000000 solid 1px;
}
#wordList li {
  list-style-type: none;
}
#results .playerResult {
  display: inline;
  float: left;
  padding: 5px;
  margin: 5px;
}
#results .playerResult .score {
  border-top: #000000 solid 1px;
}
#results li {
  list-style-type: none;
}
#results h1 {
  font-size: 20px;
  margin: 0px;
}
#results .unscored {
  text-decoration: line-through;
}
