.invalid-img {
  background-image: url('../images/cross.png');
  background-repeat: no-repeat;
  background-position: center;
}

.valid-img {
  background-image: url('../images/check.gif');
  background-repeat: no-repeat;
  background-position: center;
}

.delete-img {

}

.unlock-img {
  width: 30px;
  height: 30px;
  background-image: url('../images/unlock.png');
  background-repeat: no-repeat;
  background-position: center;
}

.lock-img {
  width: 30px;
  height: 30px;
  background-image: url('../images/lock.png');
  background-repeat: no-repeat;
  background-position: center;
}

.addfile-img {
  width: 30px;
  height: 30px;
  background-image: url('../images/add_file.png');
  background-repeat: no-repeat;
  background-position: center;
}

.file-img {
  width: 30px;
  height: 30px;
  background-image: url('../images/file.png');
  background-repeat: no-repeat;
  background-position: center;
}