<?xml version="1.0" encoding="UTF-8" ?>
<Module>
  <ModulePrefs title="Blone">
    <Require feature="rpc"/>
      <Require feature="views" />
  </ModulePrefs>
  <Content type="html">
    <![CDATA[

     <link rel="stylesheet" type="text/css" href="https://bamboozle-zarala.rhcloud.com/stylesheets/app.css" />

	 <script type="text/javascript"
      src="//plus.google.com/hangouts/_/api/v1/hangout.js"></script>

     <script type="text/javascript" src="https://bamboozle-zarala.rhcloud.com/javascripts/util.js"></script>

     <script type="text/javascript" src="https://bamboozle-zarala.rhcloud.com/javascripts/app.js"></script>

	<div id="mainDiv">
    <table id="mainTable">
        <tr>
            <td>
                <div id="timer"></div>
                <div id="board"></div>

                <input type="text" id="wordInput" style="display:none" onkeypress="return submitWord(event)"/>
                <div id="wordResult"></div>
            </td>
            <td>
                <div id="wordList"></div>
            </td>
        </tr>
    </table>
</div>
<div id="results" style="display:none"></div>
<div id="startDiv" style="display:none">
    <input type="button" name="ready" value="Start" onclick="javascript:ready()"/>  <br/>
</div>
<div id="quitDiv" style="display:none">
    <input type="button" name="quit" value="Vote Quit" onclick="javascript:voteQuit()"/>
</div>
<div id="settingsDiv">
    <a href="javascript:document.getElementById('innerSettingsDiv').style.display = (document.getElementById('innerSettingsDiv').style.display=='none')?'block':'none'">Settings</a>
    <div id="innerSettingsDiv" style="display:none">
        <input type="text" name="timeLimit" id="timeLimit" size="3" value="90"/><input type="button" name="start" value="Change Settings" onclick="javascript:newGame()"/>
    </div>
</div>


    ]]>
  </Content>
</Module>
