!!! 5
html
  head
    link(type='text/css', rel='stylesheet', href='../stylesheets/client.css')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')

    script(src="http://code.jquery.com/jquery-1.10.2.min.js")
    script(src="../socket.io/socket.io.js")
    script(src="../javascripts/client.js")
    script(src='javascripts/client2.js')
  body(ng-app='bamboozle')
    div(ng-view)