#room
  #results(results).centered
  #topPanes.centered
    .game-panel
      #players(player-list)
    .game-panel
      #game
          #mainDiv
            #timer(timer)
            #board(board ng-show='showBoard')
            #wordInput(word-input)
          #gameControls(game-controls)
    .game-panel
      #wordList(word-list)
  hr

  #roomSettings.centered(room-settings, ng-show='player.master')


