.left-panel
  #playerList(player-list)
.center-panel
  #game
      #mainDiv
        table
          tr
            td
              #timer(timer)
              #board(board ng-show='showBoard')
              #wordInput(word-input)
            td
              #wordList(word-list)
      #results(results)
      #gameControls(game-controls)

.right-panel
  #roomSettings.centered(room-settings, ng-show='player.master')
