table#mainTable.centered
 tr
  td
    #playerList(player-list)
  td
    #game
      #mainDiv
        table
          tr
            td
              #timer(timer)
              #board(board ng-show='showBoard')
              #wordInput(word-input)
            td
              #wordList(word-list)
      #results(results)
      #gameControls(game-controls)
  tr
    td(colspan=2)
      #playerControls.centered(player-controls)
