#playerList(player-list)

#game
  #mainDiv
    table
      tr
        td
          #timer(timer)
          #board(board)
          #wordInput(word-input)
        td
          #wordList(word-list)
  #results(results)
  #playerControls(player-controls)
