#room
  #topPanes
    .left-panel
      #playerList(player-list)
    .center-panel
      #game
          #mainDiv
            #timer(timer)
            #board(board ng-show='showBoard')
            #wordInput(word-input)


          #results(results)
          #gameControls(game-controls)

    .right-panel
      #wordList(word-list)
  #roomSettings.centered(room-settings, ng-show='player.master')
