!!! 5
html
  head
    script(src='//hangoutsapi.talkgadget.google.com/talkgadget/apps/gadgets/js/rpc.js')
    script(src='//hangoutsapi.talkgadget.google.com/hangouts/api/hangout.js?v=1.4')

    link(type='text/css', rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.css')
    link(type='text/css', rel='stylesheet', href='stylesheets/client.css')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.js')
    script(src="socket.io/socket.io.js")
    script(src="javascripts/client.js")
  body(ng-app='bamboozle')

    script
      var hangoutId = gapi.hangout.getHangoutId();
      hangoutId = 'myHangout2i409324809';

    div.view(ng-view, env='hangout')
