!!! 5
html
  head
    script(src='//hangoutsapi.talkgadget.google.com/talkgadget/apps/gadgets/js/rpc.js')
    script(src='//hangoutsapi.talkgadget.google.com/hangouts/api/hangout.js?v=1.4')

    // TODO: Need to add full absolute URL
    link(type='text/css', rel='stylesheet', href='stylesheets/app.css')
    script(src="socket.io/socket.io.js")
    script(src="javascripts/util.js")
    script(src="javascripts/app.js")
    script(src="javascripts/ajax.js")
    script(src="javascripts/helper.js")
  body(ng-app='bamboozle')
    div.view(ng-view)
