!!! 5
html
  head
    link(type='text/css', rel='stylesheet', href='ext/bootstrap/css/bootstrap.min.css')
    //link(type='text/css', rel='stylesheet', href='ext/bootstrap/css/bootstrap-theme.min.css')
    link(type='text/css', rel='stylesheet', href='stylesheets/client.css')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    script(src='ext/bootstrap/js/bootstrap.min.js')
    script(src="socket.io/socket.io.js")
    script(src="javascripts/client.js")
  body(ng-app='bamboozle')
    div(ng-view)