!!! 5
html
  head

  body
    .field
      label(for='room') Room:
      input(type='text', name='room')
    .field
      label(for='username') Username:
      input(type='input' , name='username')
    input.button(type='button', value='Enter')