!!! 5
html
  head
    link(type='text/css', rel='stylesheet', href='stylesheets/client.css')
    script(src="http://code.jquery.com/jquery-1.10.2.min.js")
    script(src="socket.io/socket.io.js")
    script(src="javascripts/register.js")
  body
    .field
      label(for='room') Room:
      input(type='text', name='room')
    .field
      label(for='username') Username:
      input(type='input' , name='username')
    input.button(type='button', value='Enter')