#roomCreation.centered
  h3 Create New Room
  form(ng-submit='createRoom()')
    input#roomInput(class='form-control' type='text', ng-model='newRoom', placeholder="Create a new room...")
    button(class='btn btn-primary btn-sm' type='button') Create Room
#publicRoomList.centered
  h3 Public Rooms
  div(room-list)
